/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --gradient-color-red: linear-gradient(
    90deg,
    hsl(7, 89%, 46%) 15%,
    hsl(11, 93%, 68%) 100%
  );
  --gradient-color-orange: linear-gradient(
    90deg,
    hsl(22, 89%, 46%) 15%,
    hsl(54, 90%, 45%) 100%
  );
  --gradient-color-yellow: linear-gradient(
    90deg,
    hsl(54, 89%, 46%) 15%,
    hsl(92, 90%, 45%) 100%
  );
  --gradient-color-green: linear-gradient(
    90deg,
    hsl(92, 89%, 46%) 15%,
    hsl(92, 90%, 68%) 100%
  );
  --text-color: #fff;
  --body-color: hsl(0, 0%, 11%);
  --container-color: hsl(0, 0%, 9%);
  --percentage-battery: 100%;
  --status-battery-color: var(--gradient-color-green);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Rubik", sans-serif;

  --biggest-font-size: 2.5rem;

  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.75rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 1s ease-in-out;
}

body.light-mode {
  --text-color: #000;
  --body-color: #fff;
  --container-color: #f5f5f5;
  --status-battery-color: #000;
}

/*=============== BATTERY ===============*/
.battery {
  height: 100vh;
  display: grid;
  place-items: center;
}

.battery__card {
  position: relative;
  width: 100%;
  height: 240px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  transition: all 1s;
}

.battery__card::before,
.battery__card::after {
  content: "";
  position: absolute;
  height: 8px;
  background: var(--status-battery-color);
  width: 100%;
  transition: all 0.5s;
}

.battery__card::before {
  bottom: 0;
  left: 0;
  border-radius: 0 0 1.5rem 1.5rem;
}

.battery__card::after {
  top: 0;
  left: 0;
  border-radius: 1.5rem 1.5rem 0 0;
}

.battery__error {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-color-red);
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem;
  transition: all 0.5s;
  animation: fadeIn 0.3s ease-in-out;
}

.battery__error-text {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.battery__error-text a {
  color: var(--text-color);
  transition: all 0.3s;
}

.battery__error i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.battery__text {
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

.battery__percentage {
  font-size: var(--biggest-font-size);
  transition: color 0.3s;
}

.icon-theme {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s;
}

.battery__status {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--smaller-font-size);
  transition: color 0.3s;
}

.battery__status i {
  font-size: 1.25rem;
}

.battery__pill {
  position: relative;
  width: 75px;
  height: 180px;
  background-color: var(--container-color);
  box-shadow: inset 20px 0 48px hsl(0, 0%, 16%),
    inset -4px 12px 48px hsl(0, 0%, 56%);
  border-radius: 3rem;
  justify-self: flex-end;
  transition: all 0.5s;
}

.light-mode .battery__pill {
  box-shadow: inset 20px 0 48px hsl(0, 0%, 96%),
    inset -4px 12px 48px hsl(0, 0%, 86%);
}

.battery__level {
  position: absolute;
  inset: 2px;
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-charging {
  display: none;
  font-size: 2rem;
  color: #fff;
  z-index: 1;
}

.battery__liquid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: var(--gradient-color-red);
  box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, 0.1),
    inset 12px 0 12px hsla(0, 0%, 0%, 0.15);
  transition: 1s;
}

.battery__liquid::after {
  content: "";
  position: absolute;
  height: 8px;
  background: var(--gradient-color-red);
  box-shadow: inset 0px -3px 6px hsla(0, 0%, 0%, 0.2);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -4px;
  border-radius: 50%;
}

/* Full battery icon color */
.green-color {
  background: var(--gradient-color-green);
}

/* Battery charging animation */
.animated-green {
  background: var(--gradient-color-green);
  animation: animated-charging-battery 1.2s infinite alternate;
}

/* Low battery animation */
.animated-red {
  background: var(--gradient-color-red);
  animation: animated-low-battery 1.2s infinite alternate;
}

.animated-green,
.animated-red,
.green-color {
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes animated-charging-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 6px hsl(92, 90%, 68%);
  }
}

@keyframes animated-low-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 8px hsl(7, 89%, 46%);
  }
}

@keyframes animated-charging-battery {
  0% {
    height: var(--percentage-battery);
  }
  100% {
    height: 103%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Liquid battery with gradient color */
.gradient-color-red,
.gradient-color-red::after {
  background: var(--gradient-color-red);
}

.gradient-color-orange,
.gradient-color-orange::after {
  background: var(--gradient-color-orange);
}

.gradient-color-yellow,
.gradient-color-yellow::after {
  background: var(--gradient-color-yellow);
}

.gradient-color-green,
.gradient-color-green::after {
  background: var(--gradient-color-green);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .battery__card {
    zoom: 0.8;
  }
  .battery__error {
    font-size: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 430px) {
  .battery__card {
    width: 312px;
  }
  .battery__error {
    font-size: 1.25rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .battery__card {
    zoom: 1.5;
  }
  .battery__error {
    font-size: 1.5rem;
  }
}
